<div id="sec4">
    <div class="split" *ngFor="let item of SplitItems">
        <div class="img-holder">
            <img src="{{item.image}}" class="Grow-image">
        </div>
        <div class="caption">
            <h2 class="blue-font">{{item.Header}}</h2>
            <h6 class="gray-font">{{item.Caption}}</h6>
        </div>
    </div>
    <!--<div class="split">
          <div class="img-holder">
            <img src="/assets/images/app1.png" class="Grow-image">
        </div>
        <div class="caption">
            <h2 class="blue-font">Lorem ipsum dolor</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
        </div>
    </div>
    <div class="split">
        <div class="caption">
            <h2 class="blue-font">Lorem ipsum dolor</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
        </div>
        <div class="img-holder">
            <img src="/assets/images/app2.png" class="Grow-image">
        </div>
      </div>-->
</div>