<nav></nav>
<sec1 [Header]="sec1Header" [Caption]="sec1Caption" (BtnClick)="ShowModal()"></sec1>
<sec2 [Header]="sec2Header" [Caption]="sec2Caption" [Cards]="Cards" (BtnClick)="ShowModal()"></sec2>
<sec3 [SplitItems]="sec3SplitItems"></sec3>
<sec4 [SplitItems]="sec4SplitItems"></sec4>
<sec5 [Header]="sec5Header" [Caption]="sec5Caption" [author]="author"></sec5>
<footer>
    <sec6 [Header]="sec6Header" [Caption]="sec6Caption" (BtnClick)="ShowModal()"></sec6>
</footer>
<modal [Show]="showmodal" [Header]="sec6Header" [Caption]="sec6Caption" (BtnClick)="HideModal()"></modal>