<div class="nav">
    <div class="nav-item">
        <a href="#" class="glow-blue" (click)="ShowModal = true"><img src="/assets/images/list.png"></a>
    </div>
    <div class="nav-item ">
        <a href="#" class="glow-blue" (click)="ShowModal = true">
            <h2 class="blue-font">CRIOS</h2>
            <h5 class="gray-font">Free PSD Tamplate</h5>
        </a>
    </div>
    <div class="nav-item">
        <a href="#" class="glow-blue" (click)="ShowModal = true"><img src="/assets/images/search.png"></a>
    </div>

</div>
<div id="sec1">
    <div class="header">
        <h2>Simple PSD Tamplate With Cool Stuff</h2>
        <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
        <button class="btn blue-font glow-blue" (click)="ShowModal = true">EXPLORE TAMPLATE</button>
    </div>

    <img src="/assets/images/landing-bg.png">
</div>
<div id="sec2">
    <div class="header">
        <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
        <h2>Simple PSD Tamplate With Cool Stuff</h2>
        <div class="card-container">
            <div class="card">
                <img src="/assets/images/c1.png">
                <h4>Lorem ipsum dolor sit amet</h4>
                <h6 class="gray-font">suspendisse vel leo efficitur, venenatis est ut, tincidunt mibh</h6>
            </div>
            <div class="card">
                <img src="/assets/images/c1.png">
                <h4>Lorem ipsum dolor sit amet</h4>
                <h6 class="gray-font">suspendisse vel leo efficitur, venenatis est ut, tincidunt mibh</h6>
            </div>
            <div class="card">
                <img src="/assets/images/c1.png">
                <h4>Lorem ipsum dolor sit amet</h4>
                <h6 class="gray-font">suspendisse vel leo efficitur, venenatis est ut, tincidunt mibh</h6>
            </div>
            <div class="card">
                <img src="/assets/images/c1.png">
                <h4>Lorem ipsum dolor sit amet</h4>
                <h6 class="gray-font">suspendisse vel leo efficitur, venenatis est ut, tincidunt mibh</h6>
            </div>
        </div>
        <button class="btn blue-font glow-blue" (click)="ShowModal = true">CHECK OUR OFFER</button>
    </div>

</div>
<div id="sec3">
    <div class="split">
        <div class="img-holder img-big">
            <img src="/assets/images/ic1.png" class="fade-out-image">
        </div>
        <div class="caption">
            <h2>Lorem ipsum dolor</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
        </div>
    </div>
    <div class="split">
        <div class="caption">
            <h2>Lorem ipsum dolor</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
        </div>
        <div class="img-holder img-big">
            <img src="/assets/images/ic2.png" class="fade-out-image">
        </div>
    </div>
</div>
<div id="sec4">
    <div class="split">
        <div class="img-holder">
            <img src="/assets/images/app1.png" class="Grow-image">
        </div>
        <div class="caption">
            <h2 class="blue-font">Lorem ipsum dolor</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
        </div>
    </div>
    <div class="split">
        <div class="caption">
            <h2 class="blue-font">Lorem ipsum dolor</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
        </div>
        <div class="img-holder">
            <img src="/assets/images/app2.png" class="Grow-image">
        </div>
    </div>
</div>
<div id="sec5">
    <div class="split">
        <div class="profile-card">
            <div class="img-holder">
                <img src="/assets/images/user-photo.png">
                <img src="/assets/images/Snowflake.png" class="overlay-img move-image" alt="">
            </div>
        </div>
        <div class="caption">
            <h2 class="red-font">Tamplate is awesome</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
            <div class="author">
                <h6>Johne Doe</h6>
                <h6 class="gray-font">CEO at Crios.com</h6>
            </div>
        </div>
    </div>

</div>
<footer>

    <div class="header">
        <h2>Simple PSD Tamplate With Cool Stuff</h2>
        <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
        <button class="btn blue-font glow-blue" (click)="ShowModal = true">EXPLORE TAMPLATE</button>
    </div>
    <img src="/assets/images/footer-bg.png">

</footer>

<div class="modal" *ngIf="ShowModal">
    <div class="modal-content">
        <div>
            <div class="logo-holder"><img src="/assets/images/logo.png"></div>
        </div>
        <h2>Simple PSD Tamplate With Cool Stuff</h2>
        <h6>Hope that you enjoy it well! Check also our site</h6>
        <a class="red-link" href="www.symu.co" (click)="ShowModal = false">www.symu.co</a>
    </div>
</div>
