<div id="sec5">
    <div class="split">
        <div class="profile-card">
            <div class="img-holder">
                <img src="{{author.ProfileImage}}">
                <img src="{{OverlayImage}}" class="overlay-img move-image" alt="">
            </div>
        </div>
        <div class="caption">
            <h2 class="red-font">{{Header}}</h2>
            <h6 class="gray-font">{{Caption}}</h6>
            <div class="author">
                <h6>{{author.FirstName +" "+author.LastName}}</h6>
                <h6 class="gray-font">{{author.JobTitle +" at "+author.Company}}</h6>
            </div>
        </div>
        <!-- <div class="profile-card">
            <div class="img-holder">
                <img src="/assets/images/user-photo.png">
                <img src="/assets/images/Snowflake.png" class="overlay-img move-image" alt="">
            </div>
        </div>
        <div class="caption">
            <h2 class="red-font">Tamplate is awesome</h2>
            <h6 class="gray-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur voluptas nulla deleniti? Sequi, ea necessitatibus aspernatur doloribus odit voluptatibus.</h6>
            <div class="author">
                <h6>Johne Doe</h6>
                <h6 class="gray-font">CEO at Crios.com</h6>
            </div>
        </div>-->
    </div>

</div>